@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --primary-green: #2F8F6A;
    --light-green: #A6D9C5;
    --golden-beige: #D9A86C;
    --primary-blue: #1B4F72;
    --light-gray: #F2F4F4;
    --dark-gray: #4D5656;
}


header {
    padding: 10px 30px 10px 10px;
    background-color: var(--light-gray);
}


.headerContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer #logoAnchor {
    width: 104px;
    height: 104px
}

.headerContainer img {
    width: 104px;
    height: 104px;
}

.headerContainer nav {
    font-size: 18px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.headerContainer nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}


.headerContainer nav a:hover {
    color: var(--primary-green);
}




footer {
    color: var(--light-gray);
    font-weight: bold;
    padding: 20px 40px;
    background-color: var(--golden-beige);
}

footer .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.footerContainer .teamSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footerContainer .teamSection div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


@media(max-width: 1100px) {
    .headerContainer {
        height: 60px;
    }
    .headerContainer #logoAnchor {
    width: 80px;
    height: 80px
    }
    .headerContainer img {
    width: 80px;
    height: 80px;
    }
    .headerContainer nav {
    font-size: 14px;
    }
}







.user-profile {
    position: relative;
    cursor: pointer;
}

.user-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.profile-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.profile-dropdown p {
    margin: 5px 0;
    font-size: 14px;
}

.profile-dropdown button {
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #2F8F6A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.profile-dropdown button:hover {
    background-color: #1B4F72;
}
